{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-4">
      <h1>Aiko The Guinea Pig</h1>
    </div>

    <div class="col-4">
      <img src="assets/img/Aiko.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}
